section {
    margin-top: 5em;
}

/* ----------------------
    MAIN/LANDING PAGE
 ----------------------*/

.view-main {

}

/* ----------------------
        RACE PAGE
 ----------------------*/

.view-race {

}

.view-race md-whiteframe {
    margin-bottom: 2em;
}

/* ----------------------
       OTHER SHIT
 ----------------------*/

.race-subject {
    padding: 1em;
    display: flex;
}

.race-subject textarea {
    resize: none;
    border: none;
    outline: none;
    box-sizing: border-box;
    min-width: 50em;
    height: auto;
}