section {
    margin-top: 5em;
}

body {
    background: url('../media/images/paper2.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

md-whiteframe {
    background-color: white;
}

/* ----------------------
    FONT-FAMILY YO
 ----------------------*/

@font-face {
    font-family: Miama;
    src: url('../media/fonts/miama/Miama.ttf') format('truetype')
}

@font-face {
    font-family: BlackOlives;
    src: url('../media/fonts/black-olives/blackolives.ttf') format('truetype')
}

/* ----------------------
    MAIN/LANDING PAGE
 ----------------------*/

.view-main {

}

.view-main md-whiteframe {
    width: 50em;
}

.header {
    font-family: Miama, Arial, sans-serif;
    font-size: 10em;
    text-align: center;
    padding-top: -10em;
}

/* ----------------------
        RACE PAGE
 ----------------------*/

.view-race {

}

.view-race md-whiteframe {
    margin-bottom: 2em;
}

/* ----------------------
       OTHER SHIT
 ----------------------*/

 /*TODO damn look at all this repetition son */

.race-subject {
    padding: 1em;
}

.race-subject textarea {
    resize: none;
    border: none;
    outline: none;
    min-width: 50em;
    min-height: 10em;
    height: auto;
}

.race-input {
    padding: 1em;
}

.race-input input {
    min-width: 50em;
    outline: none;
    border: none;
}